body {
    background-color: #607080;
    color: #fff;
}

/* AddTodo component */

#search-input {
    width: 75%;
    display: inline-block;
}

#btn {
    width: 25% !important;
    flex-wrap: nowrap;
}

@media(min-width: 768px) {
    #search-input {
        width: 85%;
        display: inline-block;
    }

    #btn {
        width: 15% !important;
        flex-wrap: nowrap;
    }
}

/* TodosItem */

.todos-list {
    color: indianred;
}